:root {
  --primary-color: #fc8019;
  --font: ProximaNova, Arial, Helvetica Neue, sans-serif;
}

.LoginPage-active {
  left: 0;
}

.LoginPage {
  width: 600px;
  color: #282c3f;
  margin: 20px;
  right: -100%;
  transition: 850ms;
}

.LoginPage a {
  text-decoration: none;
  color: var(--primary-color);
}

.LoginBox {
  font-family: var(--font);
  margin: 2rem 0;
  position: relative;
}

.LoginBox input {
  width: 60%;
  height: 70px;
  padding-left: 1rem;
  font-size: 1.2rem;
  border: 1px solid lightgrey;
}

.LoginBox input:focus {
  outline-width: 0px;
}

.LoginButton {
  font-family: var(--font);
}

.LoginButton button {
  width: 60%;
  height: 70px;
  font-weight: bold;
  margin-top: 20px;
  background-color: var(--primary-color);
  border: none;
  color: white;
  cursor: pointer;
}

.LoginErrMessage {
  color: red;
  font-size: large;
  margin-top: 20px;
}
