:root {
  --font: ProximaNova, Arial, Helvetica Neue, sans-serif;
}

.Restaurant {
  width: 296px;
  height: 345px;
  position: absolute;
  border: 1px solid white;
  transition: 0.3s;
}

.Restaurant:hover {
  border: 1px solid lightgrey;
  box-shadow: 0 0 5pt 0.5pt #d3d3d3;
}

.resInner {
  margin: 1rem;
  font-family: var(--font);
}

.resName {
  color: black;
  height: 20px;
  margin-bottom: 5px;
  margin-top: 7.5px;
  font-size: 17px;
  word-break: break-word;
}

.resImg {
  width: 254px;
  height: 160px;
}

.resCuisines {
  color: #535665;
  font-size: 12px;
  display: inline;
}

.resRatingGrid {
  color: #535665;
  font-size: 12px;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.resRating {
  background-color: rgb(72 196 121);
  padding: 2.5px 5px;
  color: white;
}

.resCostForTwo {
  color: #535665;
  font-size: 12px;
}
