.SignupPage {
    width: 600px;    
    color: #282c3f;
    margin-left: 20px;
}

.exit {
    color: grey;
    font-size: 30px;
    margin: 15px;
    margin-left: 5px;
}

.SignupPage a {
    text-decoration: none;
    color: var(--primary-color);
}

.SignupBox {
    position: relative;
}

.SignupBox input {
    width: 60%;
    height: 70px;
    padding-left: 1rem;
    font-size: 1.2rem;
    border: 1px solid lightgrey;
}

.SignupBox input:focus {
    outline-width: 0px;
}

.SignupButton button {
    width: 60%;
    height: 70px;
    font-weight: bold;
    background-color: var(--primary-color);
    border: none;
    color: white;
    cursor: pointer;
    margin: 15px 0;
}

.LoginErrMessage {
    color: red;
    font-size: large;
    margin-top: 20px;
  }

@media only screen and (max-width: 500px){
    .SignupPage {  
        width: 100%;  
        color: #282c3f;
        margin: 0px;
        padding: 15px;
    }
    .SignupPage h1, p {
        margin: 5px 0px;
    }
    .SignupPage h1 {
        font-size: 20px;
        margin-top: 20px;
    }
    .SignupBox {
        margin: 20px 0px;
    }
    .SignupBox input {
        width: 90%;
        height: 40px;
        padding: 0px;
        border: none;
        font-size: 1rem;
        border-bottom: 1px solid lightgrey;
    }
    .SignupButton button {
        width: 90%;
        height: 40px;
        font-weight: bold;
        background-color: var(--primary-color);
        border: none;
        color: white;
        cursor: pointer;
        margin: 15px 0;
    }
    .exit {
        color: grey;
        font-size: 24px;
        margin: 0px;
        margin-left: 5px;
    }
}