:root {
    --primary-color: #fc8019;
    --font: ProximaNova,Arial,Helvetica Neue,sans-serif;
}

body {
    margin: 0;
    padding: 0;
}
.SignupPage {
    font-family: var(--font);
    color: #282c3f;
    margin-left: 20px;
}

.exit {
    color: grey;
    font-size: 30px;
    margin: 15px;
    margin-left: 5px;
}

.SignupPage a {
    text-decoration: none;
    color: var(--primary-color);
}

.SignupBox {
    font-family: var(--font);
    position: relative;
}

.SignupBox input {
    width: 60%;
    height: 70px;
    padding-left: 1rem;
    font-size: 1.2rem;
    border: 1px solid lightgrey;
}

.SignupBox input:focus {
    outline-width: 0px;
}

.SignupButton {
    font-family: var(--font);
}

.SignupButton button {
    width: 60%;
    height: 70px;
    font-weight: bold;
    background-color: var(--primary-color);
    border: none;
    color: white;
    cursor: pointer;
    margin: 15px 0;
}
