@font-face {
    font-family: ProximaNova, Arial, Helvetica, sans-serif;
    src: url(C:\Users\ACER\Documents\GitHub\swiggy\src\proxima.woff2);
}

*{
    font-family: ProximaNova,Arial, Helvetica, sans-serif;
}